.card {
    border-radius: 15px;
    border: 2px solid black;
    
    background-color: rgb(231, 205, 90);
    width: 300px;
    height: 300px;
    display: flexbox;
    justify-content: space-around;  
    align-items: centers;
    
}